!/var/cache
!/var/logs
!/var/sessions
!bin/console
!bin/symfony_requirements
!var/SymfonyRequirements.php
!var/cache/.gitkeep
!var/logs/.gitkeep
!var/sessions/.gitkeep
*/Entity/*~
/app/config/parameters.yml
/bin/*
/build/
/phpunit.xml
/phpunit.xml
/var/*
/var/bootstrap.php.cache
/var/cache/*
/var/logs/*
/var/sessions/*
/vendor/
/web/assets/vendor/
/web/bundles/
/web/uploads/
